@import "tailwindcss";

@theme {
  --color-background: #0f0f0f;
  --color-surface: #0f172a;
  --color-card: #1e293b;
  --color-accent: #6366f1;
  --color-text-primary: #e2e8f0;
  --color-text-secondary: #94a3b8;
  --color-text-muted: #475569;

  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-sans);
}
